<form>
  <fieldset>
    <legend>Tela de Venda</legend>
    <div>
      <label for="nome" class="">Cliente</label><br/>
      <input 
        type="text" 
        [(ngModel)]="cliente"
        name="cliente"

        class="texto"
      /><br><br>

      <label for="nome" class="">Produto</label><br/>
      <input 
        type="text" 
        [(ngModel)]="produto"
        name="produto"
        class="texto"
      /><br><br>

      <input type="button" value="-" (click)="decrementar()" class="maismenos">
      <input type="number" disabled [(ngModel)]="qtde" value="{{qtde}}" class="valor"/>
      <input type="button" value="+" (click)="incrementar() " class="maismenos"><br><br>

      <label for="nome" class="">Valor</label><br/>
      <input 
        type="number" 
        [(ngModel)]="valor"
        name="valor"
        class="texto"
      /><br><br>
    </div>
    <input 
      type="button" 
      value="Visualizar Recibo" 
      (click)="visualizarRecibo()"
      class="botao"
    /><br><br>

    <textarea *ngIf="show" class="textarea">{{recibo}}</textarea>
  </fieldset>
</form>