.texto{
    display: inline-block;
    width: 260px;
    height: 25px;
    border-radius: 5px;
}

.valor{
    display: inline-block;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
}

.maismenos{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
}

.botao{
    display: inline-block;
    width: 268px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
}

.textarea{
    display: inline-block;
    width: 350px;
    height: 150px;
    border-radius: 5px;
}